.basic-layout.simplicity {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

#appMountPoint {
    background-color: #fff;
}

.basicLayout {
    display: flex;
    flex-direction: column;
}

.our-story-header-wrapper {
    height: 90px;
    border-bottom: 1px solid #e6e6e6;
    padding-top: 0;
}

.our-story-header {
    margin: 0 2.5rem;
}

.our-story-header .logo-a {
    margin-right: auto;
}

.our-story-header-wrapper .our-story-header {
    padding-top: 1.5rem;
    line-height: 44px;
}

.our-story-header-wrapper .our-story-header .our-story-logo .logo-netflix-txt {
    height: 45px;
    width: 168px;
}

.ui-select-wrapper .select-arrow {
    display: none;
}

.our-story-header-wrapper .auth-links {
    background-color: #fff;
    color: #333;
    font-weight: 600;
    font-size: 20px;
}

.simple-container {
    padding-bottom: 95px;
}

.center-container {
    --layout-container-side-padding: 32px;
    padding: 20px var(--layout-container-side-padding) 60px;
}

.reg-container {
    max-width: 340px;
    text-align: center;
    margin: 0 auto;
}

.step-logo-container {
    display: inline-block;
}

.step-logo {
    margin: 100px 0 20px;
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/simplicity/Devices.png) no-repeat 50% 50%;
    height: 90px;
}

.step-header {
    display: inline-block;
}