body {
    min-width: 320px;
    margin: 0;
    background-color: black;
}




.our-story-header-wrapper {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 20px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.our-story-header-wrapper .our-story-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 0.5rem;
    height: auto;
    position: relative;
    margin: 0 3.5rem;
}


.our-story-header-wrapper .our-story-header .our-story-logo {
    margin-right: auto;
}


.our-story-header-wrapper .our-story-header .our-story-logo .logo-netflix-txt {
    width: 8.375rem;
    height: 2.25rem;
    padding-top: 0;
}


.selection-container {
    display: inline-block;
    margin: 0 0.75rem;
}


/*언어선택 공통부분*/
.ui-select-wrapper .select-arrow {
    position: relative;
    width: 100%;
}

.ui-select-wrapper .select-arrow::before {
    font-size: .75rem;
    left: 0.5rem;
    color: #fff;
    top: 17%;
    content: '🇰🇷';
    position: absolute;
}

.ui-select-wrapper .ui-select {
    padding: 0.4rem 1.375rem;
    background: rgba(0,0,0,.4);
    border: 1px solid #aaa;
    color: #757575;
    border-radius: 2px;
    align-items: center;
    display: inline-block;
}



.our-story-header-wrapper .auth-links {
    background-color: #e50914;
    padding: 7px 17px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}


.footer{
    width: 100%;
    -webkit-text-size-adjust: 100%;         /*webkit 부분은 크롬버전일때 글자크기가 같게 모든디바이스에도 적용 (글자 깨지는 현상 방지)*/
    -webkit-font-smoothing: antialiased;    /*폰트가 렌더링 될 때 부드럽게*/
    word-break: keep-all;                   /* 화면 줄어들었을때 글씨 줄바꿈하기(단어 안끊기게)*/
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    color: #757575;
    padding: 100px 100px 30px 100px;             /* 화면 줄어들었을 때에도 좌우 여백 남게*/
    position: relative;
    bottom: 0;

}




.footer_question {
    font-size: 1.5em;
    margin-bottom: 1.5em;
}


/* 자주묻는 질문들 등 목차 링크 리스트들 */
.footer_links {
    list-style: none;
    font-size: 17px;
    padding: 0;                     /*왼쪽으로 붙어서 정렬시키게*/
    display: flex;
    justify-content: space-between;
}


.footer_label {
    width: 200px;
    color: #757575;                /* 링크색깔 회색으로 맞추기 */
    margin-bottom: 2px;            /*라인별 줄간격*/
    display: inline-block;         /* li 엘리먼트들을 한줄에 정확히 나란히 정렬하게*/
    min-width: 165px;
}

/* 언어선택 푸터부분 */
 .lang-selection-container{
    font-size: 1.2em;
    margin-top: 30px;
 }

 /*select 부분 크기, 글자 위치*/
 .lang-selection-container .ui-select-wrapper .ui-select {
    padding: 0.4rem 2.2rem;
     width: 165px;
     height: 60px;
     font-size: 1.2em;
}
/* kr 위치& 크기 */
 .lang-selection-container .ui-select-wrapper .select-arrow::before {
    font-size: 1rem;
    left: 1rem;
    top: 30%;
    content: '🇰🇷';
}

 /* 선택창 색깔 */
 .ui-select-wrapper .ui-select option {
     background-color: black;
 }

/* 넷플릭스 내일배움캠프 글자 */
.footer_nbk {
    font-size: 15px;
    margin-top: 30px;
}

@media (max-width:768px) {
    .footer_question {
        width: auto;
        font-size: 1em;
    }
    .footer_label {
        width: auto;
        font-size: 8px;
    }
    .lang-selection-container {
        font-size: .75em;
    }
}

/*하단 넷플릭스 내일배움캠프 밑부분*/
.copy_text {
    font-size: .8em;
    line-height: 1.5em;
    color: #757575;
}