{% extends 'base.html' %}
{% load static %}

{% block others %}
<link rel="stylesheet" href="{% static 'css/login/login.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
{% endblock %}


<!--base.html 에서 미리 정한 content 블록 위치에 넣어주기!-->
{% block content %}


{% if check %}
<div>
    <a href="/login/kakaoLoginLogic"><img src="{% static 'img/login/kakao_login_medium_narrow.png' %}"></a>
</div>
{% endif %}

<div class="login-body">
    <div>
        <div class="login-content login-form hybrid-login-form hybrid-login-form-signup"
             data-uia="login-page-container">
            <div class="hybrid-login-form-main"><h1 data-uia="login-page-title">로그인</h1>
                <form method="post" class="login-form" action="/login/">
                    {% csrf_token %}
                    <div data-uia="login-field+container"
                         class="nfInput nfEmailPhoneInput login-input login-input-email">
                        <div class="nfInputPlacement">
                            <div class="nfEmailPhoneControls"><label class="input_id" placeholder=""><input type="text"
                                                                                                            data-uia="login-field"
                                                                                                            name="username"
                                                                                                            class="nfTextField hasText"
                                                                                                            id="id_userLoginId"
                                                                                                            value=""
                                                                                                            tabindex="0"
                                                                                                            autocomplete="email"
                                                                                                            dir="ltr">
                                <label
                                        for="id_userLoginId" class="placeLabel">이메일 주소 또는 전화번호
                                </label>
                            </label>
                                <div data-uia="phone-country-selector+container"
                                     class="ui-select-wrapper country-select"><a
                                        data-uia="phone-country-selector+target" href="#"
                                        class="ui-select-wrapper-link">
                                    <div class="ui-select-current"
                                         placeholder="{&quot;current_selected_country&quot;:&quot;KR&quot;}"><span
                                            class="country-select-flag nf-flag nf-flag-kr"></span><span
                                            class="country-select-code">+<!-- -->82</span></div>
                                </a>
                                    <ul data-uia="phone-country-selector+option-list"
                                        class="ui-select-options ui-select-options-hidden flag-select-item-list">
                                        <li data-uia="option-KR"
                                            class="flag-select-option ui-select-item ui-select-item-selected"
                                            placeholder="{&quot;id&quot;:&quot;KR&quot;,&quot;selected&quot;:true,&quot;highlighted&quot;:false}">
                                            <a id="KR" tabindex="-1" class="ui-select-item-link clearfix"><span
                                                    class="country-select-flag nf-flag nf-flag-kr"></span><span id="country_code_kr"
                                                                                                                class="country-name"
                                                                                                                data-uia="">대한민국 <em
                                                    class="country-code"> +82</em></span></a></li>

                                        <li data-uia="option-US" class="flag-select-option ui-select-item"
                                            placeholder="{&quot;id&quot;:&quot;US&quot;,&quot;selected&quot;:false,&quot;highlighted&quot;:false}">
                                            <a id="US" tabindex="-1" class="ui-select-item-link clearfix"><span
                                                    class="country-select-flag nf-flag nf-flag-us"></span><span id="country_code_en"
                                                                                                                class="country-name"
                                                                                                                data-uia="">미국 <em
                                                    class="country-code"> +1</em></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-uia="password-field+container"
                         class="nfInput nfPasswordInput login-input login-input-password">
                        <div class="nfInputPlacement">
                            <div class="nfPasswordControls"><label class="input_id" placeholder=""><input
                                    type="password" data-uia="password-field" name="password"
                                    class="nfTextField hasText" id="id_password" value="" tabindex="0"
                                    autocomplete="password" dir="ltr"><label for="id_password"
                                                                             class="placeLabel">비밀번호</label></label>
                                <button data-uia="password-visibility-toggle" id="id_password_toggle" type="button"
                                        class="nfPasswordToggle" title="비밀번호 표시">표시
                                </button>
                            </div>
                        </div>
                    </div>
                    <button class="btn login-button btn-submit btn-small" type="submit" autocomplete="off" tabindex="0"
                            data-uia="login-submit-button">로그인
                    </button>
                    <div class="hybrid-login-form-help">
                        <div class="ui-binary-input login-remember-me">
                            <input type="checkbox" class="" name="rememberMe"
                                                                              id="bxid_rememberMe_true" value="true"
                                                                              tabindex="0" data-uia="rememberMe"
                                                                              checked=""><label
                                for="bxid_rememberMe_true" data-uia="label+rememberMe"><span
                                class="login-remember-me-label-text">로그인 정보 저장</span></label>
                            <div class="helper"></div>
                        </div>
                        <a class="link login-help-link" target="_self" data-uia="login-help-link">도움이 필요하신가요?</a></div>
                    <input type="hidden" name="flow" value="websiteSignUp"><input type="hidden" name="mode"
                                                                                  value="login"><input type="hidden"
                                                                                                       name="action"
                                                                                                       value="loginAction"><input
                        type="hidden" name="withFields"
                        value="rememberMe,nextPage,userLoginId,password,countryCode,countryIsoCode,recaptchaResponseToken,recaptchaError,recaptchaResponseTime"><input
                        type="hidden" name="authURL" value="1643012489360.qmgsM8XwKiP8BC7lA5RS9NksrLY="><input
                        type="hidden" name="nextPage" value=""><input type="hidden" name="showPassword" value=""><input
                        type="hidden" name="countryCode" value="+82"><input type="hidden" name="countryIsoCode"
                                                                            value="KR"></form>
            </div>
            <div class="hybrid-login-form-other">

                <!--                기존 페이스북 로그인폼-->
                <!--                <form method="post" class="login-form" action="">-->
                <!--                    <div class="facebookForm regOption">-->
                <!--                        <div class="fb-minimal">-->
                <!--                            <hr>-->
                <!--                            <button class="btn minimal-login btn-submit btn-small" type="submit" autocomplete="off"-->
                <!--                                    tabindex="0" data-uia="">-->
                <!--                                <div class="fb-login" data-uia="fb-login"><img class="icon-facebook"-->
                <!--                                                                               src="https://assets.nflxext.com/ffe/siteui/login/images/FB-f-Logo__blue_57.png"><span-->
                <!--                                        class="fbBtnText">Facebook으로 로그인</span></div>-->
                <!--                            </button>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                    <input type="hidden" name="flow" value="websiteSignUp"><input type="hidden" name="mode"-->
                <!--                                                                                  value="login"><input type="hidden"-->
                <!--                                                                                                       name="action"-->
                <!--                                                                                                       value="facebookLoginAction"><input-->
                <!--                        type="hidden" name="withFields" value="rememberMe,nextPage,accessToken"><input type="hidden"-->
                <!--                                                                                                       name="authURL"-->
                <!--                                                                                                       value="1643012489360.qmgsM8XwKiP8BC7lA5RS9NksrLY="><input-->
                <!--                        type="hidden" name="nextPage" value=""><input type="hidden" name="showPassword" value=""><input-->
                <!--                        type="hidden" name="countryCode" value="+82"><input type="hidden" name="countryIsoCode"-->
                <!--                                                                            value="KR"><input type="hidden"-->
                <!--                                                                                              name="accessToken"-->
                <!--                                                                                              value=""></form>-->
                {% if check %}
                <div>
                    <h1>카카오 로그아웃</h1>
                    <form action="/login/kakaoLogout" method="GET" style="display: none;">
                        <input type="submit" value="카카오로그아웃 및 연결 끊기"/>
                    </form>
                </div>
                {% else %}
<!--                <div>-->
<!--                    <a href="/login/kakaoLoginLogic"><img class="kakao_button" src="{% static 'img/login/kakao_login_medium_narrow.png' %}"></a>-->
<!--                </div>-->

                    <a href="/login/kakaoLoginLogic"><button id="kakao_button" class="btn login-button btn-submit btn-small" type="submit" autocomplete="off" tabindex="0"
                            data-uia="login-submit-button"> 카카오 계정으로 로그인
                </button></a>
                {% endif %}


                <div class="login-signup-now" data-uia="login-signup-now">Netflix 회원이 아닌가요? <a class=" " target="_self"
                                                                                               href="/signup">지금
                    가입하세요</a>.
                </div>
                <div class="recaptcha-terms-of-use" data-uia="recaptcha-terms-of-use">
                    <p><span>이 페이지는 Google reCAPTCHA의 보호를 받아 사용자가 로봇이 아님을 확인합니다.</span>&nbsp;<button
                            class="recaptcha-terms-of-use--link-button" data-uia="recaptcha-learn-more-button">자세히 알아보기
                    </button>
                    </p>
                    <div class="recaptcha-terms-of-use--disclosure" data-uia="recaptcha-disclosure"><span id=""
                                                                                                          data-uia="recaptcha-disclosure-text">Google reCAPTCHA가 수집하는 정보에는 Google <a
                            href="https://policies.google.com/privacy" id="recaptcha-privacy-link"
                            data-uia="recaptcha-privacy-link" target="_blank">개인정보처리방침</a>과 <a
                            href="https://policies.google.com/terms" id="recaptcha-tos-link"
                            data-uia="recaptcha-tos-link" target="_blank">서비스 약관</a>이 적용되며, 해당 정보는 reCAPTCHA 서비스 제공, 관리 및 개선과 일반적인 보안 유지에 사용됩니다(Google의 개인 맞춤 광고에 사용 안 함).</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}