#appMountPoint{
    background-repeat: no-repeat;
    background-size: 140%;
    overflow-x: hidden;
    display: block;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url(https://assets.nflxext.com/ffe/siteui/acquisition/login/login-the-crown_2-1500x1000.jpg);
}
.our-story-header-wrapper .auth-links {
    display: none;
    font-weight: bold;
    padding: 7px 17px;
    color: red;
    cursor: pointer;
    text-decoration: none;
}

.total-find-container {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    word-break: keep-all;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 0 auto;
    width: 450px;

}
.find_id_pw_text {
    font-size: 2em;
}


.find-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 40px;
    color: #333;
    padding: 40px 35px;
    background-color: #f3f3f3;

}

.choose-notice {
    font-size: 16px;
}
.choose-box {
    padding: 20px;
    font-size: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;

}
.choose {
    margin-bottom: 5px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.choose-email-result {
    width: 95%;
    height: 95px;
    font-size: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.choose-email-result input{
    outline: #B3B3B3;
    font-size: 16px;
    width: 93%;
    height: 45px;
    padding-left: 20px;
}

.choose-msg-result {
    width: 95%;
    height: 130px;
    font-size: 16px;
    display:none;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.msg-input {
    height: 45px;
    display:flex;
    align-items: flex-start;
    flex-direction: row;
}
.msg-input select {
    outline: none;
    cursor: pointer;
    height: 47px;
    border-radius: 0;
    padding: 5px;
    font-size: 14px;

}


.choose-msg-result input{
    border-top: 0.5px solid gray;
    border-bottom: 0.5px solid gray;
    border-right: 0.5px solid gray;
    border-left: none;
    outline: 0.1px lightgray;
    font-size: 16px;
    width: 90%;
    height: 43px;
    padding-left: 20px;
}

.send-btn {
    font-weight: 400;
    cursor: pointer;
    margin-top: 30px;
    background-color: #0080ff;
    box-shadow: 0 1px 0 rgba(0,0,0,.55);
    width: 95%;
    height: 48px;
    outline: 0;
    border: none;
    color: white;
    font-size: 20px;
}
.send-btn:hover {
    background-color: dodgerblue;
}

.google-check {
    height: 40px;
    color: #999;
    font-size: 16px;
}

.detail {
    text-decoration: underline;
    color: #999;
    font-size: 16px;
}

.google-sec {
    height: 80px;
    display: none;
    margin-top: 10px;
    color: #999;
    font-size: 14px;
}
.link {
    text-decoration: underline;
    color: #999;
    font-size: 14px;
    text-decoration-color: #999 !important;
}

@media (max-width:740px) {
    #appMountPoint {
        background-image: none;
        background-color: white;
    }
    .our-story-header-wrapper {
        border-bottom: 0.5px solid lightgrey;
    }
    .footer {
        background-color: rgba(0,0,0,.75);
    }
    .our-story-header.lang-selection-container.lang-selection-container .ui-select-wrapper {
        display: none;
    }

    .total-find-container {
        padding-bottom: 35px;
        width: 100%;
        height: 100%;
        background-color: #f3f3f3;
    }
    .find-container {
        padding: 20px;
        margin-top: 0;
    }
    .choose-msg-result input {
        width: 200px;
    }
    .choose-email-result input {
        width: 95%;
    }
    .google-check {
        margin-left: 35px;
    }
    .google-sec {

        padding: 0 35px;
    }

}