/*!*header, footer*!*/
/*body {*/
/*    min-width: 320px;*/
/*    margin: 0;*/
/*    background-color: black;*/
/*}*/


/*.our-story-header-wrapper {*/
/*    position: relative;*/
/*    max-width: 1920px;*/
/*    margin: 0 auto;*/
/*    padding-top: 20px;*/
/*    width: 100%;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    z-index: 10;*/
/*}*/

/*.our-story-header-wrapper .our-story-header {*/
/*    display: flex;*/
/*    flex-flow: row nowrap;*/
/*    justify-content: flex-start;*/
/*    align-items: flex-start;*/
/*    padding-top: 0.5rem;*/
/*    height: auto;*/
/*    position: relative;*/
/*    margin: 0 3.5rem;*/
/*}*/


/*.our-story-header-wrapper .our-story-header .our-story-logo {*/
/*    margin-right: auto;*/
/*}*/


/*.our-story-header-wrapper .our-story-header .our-story-logo .logo-netflix-txt {*/
/*    width: 8.375rem;*/
/*    height: 2.25rem;*/
/*    padding-top: 0;*/
/*}*/


/*.selection-container {*/
/*    display: inline-block;*/
/*    margin: 0 0.75rem;*/
/*}*/


/*!*언어선택 공통부분*!*/
/*.ui-select-wrapper .select-arrow {*/
/*    position: relative;*/
/*    width: 100%;*/
/*}*/

/*.ui-select-wrapper .select-arrow::before {*/
/*    font-size: .75rem;*/
/*    left: 0.5rem;*/
/*    color: #fff;*/
/*    top: 17%;*/
/*    content: '🇰🇷';*/
/*    position: absolute;*/
/*}*/

/*.ui-select-wrapper .ui-select {*/
/*    padding: 0.4rem 1.375rem;*/
/*    background: rgba(0,0,0,.4);*/
/*    border: 1px solid #aaa;*/
/*    color: #757575;*/
/*    border-radius: 2px;*/
/*    align-items: center;*/
/*    display: inline-block;*/
/*}*/


/*.our-story-header-wrapper .auth-links {*/
/*    background-color: #e50914;*/
/*    padding: 7px 17px;*/
/*    color: #fff;*/
/*    border-radius: 3px;*/
/*    cursor: pointer;*/
/*    text-decoration: none;*/
/*}*/

/*.footer{*/
/*    width: 100%;*/
/*    -webkit-text-size-adjust: 100%;         !*webkit 부분은 크롬버전일때 글자크기가 같게 모든디바이스에도 적용 (글자 깨지는 현상 방지)*!*/
/*    -webkit-font-smoothing: antialiased;    !*폰트가 렌더링 될 때 부드럽게*!*/
/*    word-break: keep-all;                   !* 화면 줄어들었을때 글씨 줄바꿈하기(단어 안끊기게)*!*/
/*    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;*/
/*    max-width: 1000px;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    color: #757575;*/
/*    padding: 100px 100px 30px 100px;             !* 화면 줄어들었을 때에도 좌우 여백 남게*!*/
/*    position: relative;*/
/*    bottom: 0;*/

/*}*/


/*.footer_question {*/
/*    font-size: 1.5em;*/
/*    margin-bottom: 1.5em;*/
/*}*/


/*!* 자주묻는 질문들 등 목차 링크 리스트들 *!*/
/*.footer_links {*/
/*    list-style: none;*/
/*    font-size: 17px;*/
/*    padding: 0;                     !*왼쪽으로 붙어서 정렬시키게*!*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/


/*.footer_label {*/
/*    width: 200px;*/
/*    color: #757575;                !* 링크색깔 회색으로 맞추기 *!*/
/*    margin-bottom: 2px;            !*라인별 줄간격*!*/
/*    display: inline-block;         !* li 엘리먼트들을 한줄에 정확히 나란히 정렬하게*!*/
/*    min-width: 165px;*/
/*}*/

/*!* 언어선택 푸터부분 *!*/
/* .lang-selection-container{*/
/*    font-size: 1.2em;*/
/*    margin-top: 30px;*/
/* }*/

/* !*select 부분 크기, 글자 위치*!*/
/* .lang-selection-container .ui-select-wrapper .ui-select {*/
/*    padding: 0.4rem 2.2rem;*/
/*     width: 165px;*/
/*     height: 60px;*/
/*     font-size: 1.2em;*/
/*}*/
/*!* kr 위치& 크기 *!*/
/* .lang-selection-container .ui-select-wrapper .select-arrow::before {*/
/*    font-size: 1rem;*/
/*    left: 1rem;*/
/*    top: 30%;*/
/*    content: '🇰🇷';*/
/*}*/

/* !* 선택창 색깔 *!*/
/* .ui-select-wrapper .ui-select option {*/
/*     background-color: black;*/
/* }*/

/*!* 넷플릭스 내일배움캠프 글자 *!*/
/*.footer_nbk {*/
/*    font-size: 15px;*/
/*    margin-top: 30px;*/
/*}*/

/*@media (max-width:768px) {*/
/*    .footer_question {*/
/*        width: auto;*/
/*        font-size: 1em;*/
/*    }*/
/*    .footer_label {*/
/*        width: auto;*/
/*        font-size: 8px;*/
/*    }*/
/*    .lang-selection-container {*/
/*        font-size: .75em;*/
/*    }*/
/*}*/

/*!*하단 넷플릭스 내일배움캠프 밑부분*!*/
/*.copy_text {*/
/*    font-size: .8em;*/
/*    line-height: 1.5em;*/
/*    color: #757575;*/
/*}*/

/*여기까지 base.html css*/


/*header*/
.movie_page {
    width: 100%;
    height: 20rem;;
}

.box {
    margin-top: 30rem;
}

.main {
    position: relative;
    margin-top: 60px;
    width: 100%;
    padding: 40px 2.5vw;
    color: #fff;
}

.heading {
    text-transform: capitalize;
    font-weight: 900;
    font-size: 50px;
}

.first_btn {
    width: 8.375rem;
    height: 2.75rem;
    background-color: gray;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10%;
    border: none;
    margin-top: 1rem;
}

.first_btn:hover {
    transform: scale(1.5);
    transition: transform 1s;
    filter: brightness(70%);
}


.second_btn {
    width: 10.375rem;
    height: 2.75rem;
    background-color: gray;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10%;
    border: none;
    margin-top: 1rem;
}

.second_btn:hover {
    transform: scale(1.5);
    transition: transform 1s;
    filter: brightness(70%);
}

.info {
    width: 50%;
    font-size: 20px;
    margin-top: 10px;
}

/*123*/

/*card sheet*/
.movie-list {
    width: 100%;
    height: 250px;
    margin-top: 40px;
    position: relative;
}

.movie-category {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.movie-container {
    width: 93%;
    height: 200px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.movie-container::-webkit-scrollbar {
    display: flex;
}

.movie-container::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.movie-container::-webkit-scrollbar-track {
    background-color: darkslategrey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px black;
}

.movie {
    flex: 0 0 auto;
    width: 18%;
    height: 200px;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    /*-ms-overflow-style: none;*/
    /*-webkit-overflow-scrolling: touch;*/
}

.movie_detail:hover {
    transform: scale(1.5);
    transition: transform 1s;
    filter: brightness(70%);
    color: white;
}

.movie img {
    width: 90%;
    height: 150px;
    object-fit: cover;
}

.movie p {
    text-transform: capitalize;
    height: 20px;
    overflow: hidden;
}

.pre-btn,
.nxt-btn {
    position: absolute;
    height: 160px;
    top: 60%;
    transform: translateY(-50%);
    width: 2.5vw;
    background: #181818;
    border: none;
    outline: none;
    opacity: 0;
}

.pre-btn {
    left: -2.5vw;
}

.nxt-btn {
    right: -0.5vw;
    margin-right: 6rem;
}

.pre-btn img,
.nxt-btn img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.nxt-btn:hover,
.pre-btn:hover {
    opacity: 1;
}

/*movies*/
.movie-info {
    width: 100%;
    height: calc(100vh - 60px);
    margin-top: 60px;
    background-size: cover;
    background-repeat: no-repeat;
}

.movie-detail {
    width: 50%;
    height: 100%;
    background: rgb(24, 24, 24);
    background: linear-gradient(90deg, rgba(24, 24, 24, 1), rgba(24, 24, 24, 0) 100%);
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
}

.movie-name {
    font-size: 30px;
    font-weight: 500;
}

.genres {
    opacity: 0.6;
    margin: 30px 0;
}

.des {
    width: 90%;
    line-height: 20px;
    margin-bottom: 30px;
}

.starring span {
    opacity: 0.6;
}

/*!*iframe*!*/
/*.trailer-container,*/
/*.recommendations {*/
/*    color: #fff;*/
/*    padding: 5vw 5vw 0;*/
/*}*/

/*.heading {*/
/*    font-size: 30px;*/
/*    font-weight: 300;*/
/*    margin-bottom: 20px;*/
/*}*/

/*iframe {*/
/*    width: 400px;*/
/*    height: 200px;*/
/*}*/

/*!*추천 동영상*!*/
/*.recommendations-container {*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.movie p {*/
/*    position: absolute;*/
/*    bottom: 30px;*/
/*    width: 100%;*/
/*    height: 30px;*/
/*    line-height: 30px;*/
/*    background: rgba(0, 0, 0, 0.5);*/
/*    text-align: center;*/
/*    opacity: 0;*/
/*}*/

/*.movie:hover p {*/
/*    opacity: 1;*/
/*}*/

/*tmp*/
/*@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);*/
.snip1273 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    margin: 10px;
    min-width: 310px;
    max-width: 310px;
    width: 50%;
    color: #ffffff;
    text-align: left;
    background-color: #000000;
    font-size: 16px;
}

.snip1273 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.snip1273 img {
    position: relative;
    max-width: 100%;
    vertical-align: top;
}

.snip1273 figcaption {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    padding: 20px 30px;
}

.snip1273 figcaption:before,
.snip1273 figcaption:after {
    width: 1px;
    height: 0;
}

.snip1273 figcaption:before {
    right: 0;
    top: 0;
}

.snip1273 figcaption:after {
    left: 0;
    bottom: 0;
}

.snip1273 h3,
.snip1273 p {
    line-height: 1.5em;
}

.snip1273 h3 {
    margin: 0 0 5px;
    font-weight: 700;
    text-transform: uppercase;
}

.snip1273 p {
    font-size: 0.8em;
    font-weight: 500;
    margin: 0 0 15px;
}

.snip1273 a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.snip1273:before,
.snip1273:after,
.snip1273 figcaption:before,
.snip1273 figcaption:after {
    position: absolute;
    content: '';
    background-color: #ffffff;
    z-index: 1;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0.8;
}

.snip1273:before,
.snip1273:after {
    height: 1px;
    width: 0;
}

.snip1273:before {
    top: 0;
    left: 0;
}

.snip1273:after {
    bottom: 0;
    right: 0;
}

.snip1273:hover img,
.snip1273.hover img {
    opacity: 0.4;
}

.snip1273:hover figcaption,
.snip1273.hover figcaption {
    opacity: 1;
}

.snip1273:hover figcaption:before,
.snip1273.hover figcaption:before,
.snip1273:hover figcaption:after,
.snip1273.hover figcaption:after {
    height: 100%;
}

.snip1273:hover:before,
.snip1273.hover:before,
.snip1273:hover:after,
.snip1273.hover:after {
    width: 100%;
}

.snip1273:hover:before,
.snip1273.hover:before,
.snip1273:hover:after,
.snip1273.hover:after,
.snip1273:hover figcaption:before,
.snip1273.hover figcaption:before,
.snip1273:hover figcaption:after,
.snip1273.hover figcaption:after {
    opacity: 0.1;
}

/*modal*/
#modal.modal-overlay {
    width: 60%;
    height: 21%;
    position: absolute;
    left: 20rem;
    top: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    display: none;
    z-index: 3;
}

#modal .modal-window {
    background: black;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.18);
    width: 50rem;
    height: 100%;
    position: relative;
    top: -100px;
    padding: 10px;
}

/*.modal-enter {*/
/*    opacity: 1;*/
/*    transition: opacity 0.5s;*/
/*}*/

/*.modal-leave-active {*/
/*    opacity: 0;*/
/*    transition: opacity 0.5s;*/
/*}*/

/*.modal-enter .modal-overlay,*/
/*.modal-leave-active .modal-window {*/
/*    -webkit-transform: scale(1.1);*/
/*    transform: scale(1.1);*/
/*}*/

#modal .title {
    margin-top: 5px;
    padding-left: 10px;
    display: inline;
    text-shadow: 1px 1px 2px gray;
    color: white;

}

#modal .title h2 {
    display: inline;
}

#modal .close-area {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: white;
    padding-top: 10px;
}

#modal .content {
    margin-top: 20px;
    padding: 0 10px;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

.tmp_box {
    width: 100%;
    height: 40%;
    top: 0;
    border: 1px solid white;
}


/*편집자 지용 css 추가 및 수정 부분*/

/*상단 헤더 새로 main용으로 뜯어 고침*/

.pinning-header {
    height: 70px;
}

.extended-diacritics-language {
    line-height: 1.4;
}

body, html {
    background: #141414;
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.logo-netflix-txt {
    width: 8.375rem;
    height: 2.25rem;
    padding-top: 0;
}

.pinning-header .pinning-header-container {
    left: 0;
    right: 0;
    top: 0;
    position: relative;
    z-index: 1;
}

.pinning-header .main-header.menu-navigation.has-billboard:not(.solid) {
    background-color: transparent;
}

.pinning-header .pinning-header-container .main-header {
    z-index: 2;
    height: 41px;
}

.pinning-header .main-header.menu-navigation {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .7) 10%, rgba(0, 0, 0, 0));
}

.main-header {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 4%;
    z-index: 2;
    font-size: 1.2rem;
    transition: background-color .4s;
}

.tabbed-primary-navigation {
    margin: 0;
    padding: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.pinning-header .tabbed-primary-navigation .navigation-menu, .pinning-header .tabbed-primary-navigation .navigation-tab {
    list-style-type: none;
    margin-left: 18px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
}

.pinning-header .tabbed-primary-navigation .navigation-menu .menu-trigger:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
    margin-left: 5px;
}

.pinning-header .tabbed-primary-navigation .navigation-menu, .pinning-header .tabbed-primary-navigation .navigation-tab {
    list-style-type: none;
    margin-left: 18px;
}


/*우측 navi 시작*/
.pinning-header .secondary-navigation {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-box-pack: end;
    justify-content: flex-end;
    position: absolute;
    right: 4%;
    top: 0;
    height: 100%;
}

.pinning-header .secondary-navigation .nav-element:not(:last-child) {
    margin-right: 15px;
}

.searchBox {
    display: inline-block;
    vertical-align: middle;
}

.searchTab {
    display: inline-block;
    cursor: pointer;
    border: none;
    background: 0 0;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

/*서치박스 적용*/
* {
    margin: 0;
    padding: 0;
    /*background: #6C7A86;*/
    font-family: sans-serif;
}

.search-box {
    background: #6C7A86;
    /*position: absolute;*/
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-3%, 10%);
    height: 20px;
    border-radius: 50px;
    padding: 10px;
}

.search-btn {
    color: white;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.fa-search {
    background: black;
    font-size: 24px;
}

.search-input {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 20px;
    transition: 0.4s;
    line-height: 50px;
    width: 0;
}

.search-box:hover > .search-input {
    width: 250px;
    padding: 0 7px;
}


.pinning-header .secondary-navigation:not(.menu-navigation) .icon-search {
    font-size: 1.3em;
    margin-right: 0;
}

.pinning-header .secondary-navigation .icon-search {
    vertical-align: middle;
}

.searchTab .icon-search {
    font-size: 12px;
    font-weight: 700;
    margin-right: 10px;
}

.searchTab span {
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 1px rgb(0 0 0 / 30%);
}

[class*=" icon-"], [class^=icon-] {
    font-family: nf-icon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

/*검색 아이콘*/
.icon-search:before {
    content: '\e636';
}

.pinning-header .secondary-navigation .nav-element a {
    display: block;
}

.pinning-header .secondary-navigation .notifications {
    position: relative;
}

.notifications {
    white-space: normal;
}

.notifications .notifications-menu {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    line-height: 1;
    margin-top: 0.2em;
    padding: 2px 6px 3px;
    position: relative;
}

[class*=" icon-"], [class^=icon-] {
    font-family: nf-icon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

/*알림 아이콘*/
.icon-button-notification:before {
    content: '\e663';
}

.akira-header .account-menu-item, .pinning-header .account-menu-item {
    display: block;
    position: relative;
    font-size: 12px;
    z-index: 0;
}

.akira-header .account-dropdown-button, .pinning-header .account-dropdown-button {
    width: 100%;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.pinning-header .secondary-navigation .nav-element a {
    display: block;
}

.pinning-header .account-dropdown-button a {
    z-index: -1;
    position: relative;
}

.pinning-header .account-dropdown-button .profile-link {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.pinning-header .account-dropdown-button .profile-icon {
    vertical-align: middle;
    height: 32px;
    width: 32px;
    border-radius: 4px;
}

img {
    border: 0;
}

.akira-header .account-dropdown-button .caret, .pinning-header .account-dropdown-button .caret {
    margin-left: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
    transition: transform 367ms cubic-bezier(.21, 0, .07, 1),
    -webkit-transform 367ms cubic-bezier(.21, 0, .07, 1),
    -moz-transform 367ms cubic-bezier(.21, 0, .07, 1),
    -o-transform 367ms cubic-bezier(.21, 0, .07, 1);
}

.akira-header .account-drop-down, .pinning-header .account-drop-down {
    position: absolute;
    right: 0;
    top: 52px;
    width: 181px;
    margin-left: 0;
    padding: 0;
}

.sub-menu.theme-lakira {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 71px;
    position: absolute;
    background-color: rgba(0, 0, 0, .9);
    color: #fff;
    font-size: 13px;
    line-height: 21px;
    border: solid 1px rgba(255, 255, 255, .15);
    cursor: default;
    opacity: 0;
}

.sub-menu.theme-lakira a, .sub-menu.theme-lakira div, .sub-menu.theme-lakira li, .sub-menu.theme-lakira span, .sub-menu.theme-lakira ul {
    box-sizing: border-box;
}

.akira-header .account-drop-down .profiles, .pinning-header .account-drop-down .profiles {
    height: auto;
    padding: 10px 0 5px 0;
    overflow: hidden;
}

.sub-menu {
    display: none;
}

.akira-header .account-drop-down .sub-menu-list, .pinning-header .account-drop-down .sub-menu-list {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
}

.sub-menu.theme-lakira .sub-menu-list, .sub-menu.theme-lakira .sub-menu-list-special {
    height: auto;
    padding: 1.1rem;
    cursor: default;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.akira-header .account-drop-down .profiles .sub-menu-item, .pinning-header .account-drop-down .profiles .sub-menu-item {
    line-height: 32px;
}

.akira-header .account-drop-down .sub-menu-item, .pinning-header .account-drop-down .sub-menu-item {
    padding: 5px 10px;
    display: block;
    font-size: 13px;
    line-height: 16px;
}

.sub-menu.theme-lakira .sub-menu-item, .sub-menu.theme-lakira .sub-menu-item-special {
    cursor: default;
    line-height: 24px;
    display: block;
}

.akira-header .account-drop-down .profiles .sub-menu-item > div, .pinning-header .account-drop-down .profiles .sub-menu-item > div {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.akira-header .account-drop-down .profiles .profile-link, .pinning-header .account-drop-down .profiles .profile-link {
    cursor: pointer;
}

.pinning-header .secondary-navigation .nav-element a {
    display: block;
}

.akira-header .account-menu-item .avatar-wrapper, .pinning-header .account-menu-item .avatar-wrapper {
    display: inline;
}

.pinning-header .account-drop-down .profiles .profile-icon {
    margin-right: 10px;
    vertical-align: middle;
    height: 32px;
    width: 32px;
    border-radius: 4px;
}

.akira-header .account-drop-down .responsive-links, .pinning-header .account-drop-down .responsive-links {
    display: none;
    padding: 10px 0;
    border-top: solid 1px rgba(255, 255, 255, .25);
}

.akira-header .account-drop-down .sub-menu-list, .pinning-header .account-drop-down .sub-menu-list {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
}

.sub-menu.theme-lakira .sub-menu-list, .sub-menu.theme-lakira .sub-menu-list-special {
    height: auto;
    padding: 1.1rem;
    cursor: default;
}

.sub-menu.theme-lakira {
    box-sizing: border-box;
    top: 71px;
    position: absolute;
    background-color: rgba(0, 0, 0, .9);
    color: #fff;
    font-size: 13px;
    line-height: 21px;
    border: solid 1px rgba(255, 255, 255, .15);
    opacity: 0;
}

.pinning-header .account-drop-down .account-links {
    padding: 10px 0;
    border-top: solid 1px rgba(255, 255, 255, .25);
}

.akira-header .account-drop-down .account-links .sub-menu-link, .pinning-header .account-drop-down .account-links .sub-menu-link {
    font-weight: 700;
}

.pinning-header .account-drop-down .sub-menu-item > a {
    text-transform: none;
    display: inline-block;
    width: 100%;
}

.sub-menu.theme-lakira .sub-menu-link {
    text-transform: none;
    display: inline-block;
    width: 100%;
    color: #fff;
}

.akira-header .account-drop-down .account-links .sub-menu-link, .pinning-header .account-drop-down .account-links .sub-menu-link {
    font-weight: 700;
}

.pinning-header .secondary-navigation .nav-element a {
    display: block;
}

.akira-header .account-drop-down .sub-menu-item > a, .pinning-header .account-drop-down .sub-menu-item > a {
    text-transform: none;
    display: inline-block;
    width: 100%;
}

@media screen and (min-width: 841px) and (max-width: 1280px) and (orientation: landscape) {
    body, html {
        font-size: .85vw;
    }
}

@media screen and (min-width: 841px) and (max-width: 1280px) and (max-aspect-ratio: 4 / 3) {
    body, html {
        font-size: .75vw;
    }
}

@media screen and (min-width: 950px) {
    .pinning-header .pinning-header-container .main-header {
        height: 68px;
    }
}

@media screen and (min-width: 885px) {
    .pinning-header .tabbed-primary-navigation:not(.has-dropdown-menu) .navigation-menu {
        display: none;
    }

    .pinning-header .tabbed-primary-navigation:not(.has-dropdown-menu) .navigation-tab {
        display: block;
    }
}

@media screen and (max-width: 1100px) {
    .pinning-header .secondary-navigation:not(.menu-navigation) .show-dvd, .pinning-header .secondary-navigation:not(.menu-navigation) .show-kids, .pinning-header .secondary-navigation:not(.menu-navigation) .show-linear-feed {
        display: none;
    }
}
