.mainView {
    position: relative;
    min-height: 1000px;
    z-index: 0;
}

.gallery.search {
    padding-top: 3%;
}

.search .gallery {
    margin-top: 0;
    padding-top: 0;
}

.mainView .gallery, .mainView .rowListContainer {
    padding-top: 5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.gallery {
    margin: 0;
    overflow: hidden;
    min-height: 1000px;
}

.search-title-header {
    min-height: 65px;
}

.rail {
    margin: 1em 0 0 0;
    display: inline-block;
    min-height: 10px;
    width: 100%;
    font-size: 1.25vw;
}

.dvds, .people, .suggestions {
    overflow: hidden;
    margin: 10px 0 20px 4%;
    display: flex;
}

.dvds, .people, .suggestions {
    line-height: 1.6;
}


element.style {
}
.suggestionRailContainer {
    display: flex;
}

.dvds .dvdLabel, .dvds .peopleLabel, .dvds .suggestionsLabel, .people .dvdLabel, .people .peopleLabel, .people .suggestionsLabel, .suggestions .dvdLabel, .suggestions .peopleLabel, .suggestions .suggestionsLabel {
    color: grey;
    -webkit-box-flex: 0;
    flex: 0 auto;
    margin-right: 5px;
    white-space: nowrap;
}

.dvds ul, .people ul, .suggestions ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.dvds ul li, .people ul li, .suggestions ul li {
    -webkit-box-flex: 0;
    flex: 0 auto;
    border-right: 1px solid grey;
    list-style: none;
    padding: 0 0.5em;
}

.dvds ul li.selected a, .people ul li.selected a, .suggestions ul li.selected a {
    color: grey;
}

.suggestionHeader {
    padding: 36px 0 36px 0;
    margin: 0 4%;
}

.suggestionHeader .title {
    display: inline-block;
    margin-right: 20px;
    line-height: 36px;
    font-size: 30px;
}

.gallery .galleryContent {
    position: relative;
    z-index: 0;
}

.gallery .rowContainer {
    margin: 0 0 48px 0;
    margin-bottom: 4vw;
}

.lolomoRow, .rowContainer {
    transition: transform .54s cubic-bezier(.5,0,.1,1) 0s,
    -webkit-transform .54s cubic-bezier(.5,0,.1,1) 0s,
    -moz-transform .54s cubic-bezier(.5,0,.1,1) 0s,
    -o-transform .54s cubic-bezier(.5,0,.1,1) 0s;
}

.rowContainer {
    position: relative;
    z-index: 0;
}

.rowContainer .rowContent {
    padding: 0;
    box-sizing: border-box;
}

.rowContainer .rowContent .slider {
    z-index: 2;
}

.slider {
    position: relative;
    margin: 0;
    padding: 0 4%;
    touch-action: pan-y;
}

.slider .sliderMask.showPeek {
    overflow-x: visible;
}

.slider .sliderMask {
    overflow-x: hidden;
    padding-bottom: 1px;
}

.slider .sliderMask .sliderContent {
    white-space: nowrap;
}

.slider .sliderMask .sliderContent .slider-item:first-child {
    padding-left: 0;
}

.slider .sliderMask .sliderContent .slider-item {
    box-sizing: border-box;
    z-index: 1;
    display: inline-block;
    position: relative;
    white-space: normal;
    vertical-align: top;
    padding: 0 0.2vw;
}

.title-card:not(.loadingTitle) {
    display: block;
}

.title-card {
    position: relative;
    z-index: 1;
}

.title-card .slider-refocus {
    display: block;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.boxart-size-16x9 {
    width: 100%;
    height: 0;
    position: relative;
    overflow: hidden;
    padding: 28.125% 0;
}

.boxart-rounded {
    border-radius: 0.2vw;
}

.title-card .boxart-container img {
    cursor: pointer;
}

.boxart-image-in-padded-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.boxart-rounded .fallback-text-container {
    border-radius: 4px;
}

.fallback-text-container {
    background-image: linear-gradient(rgba(0,0,0,0),#000);
    background-color: #222;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
}

.fallback-text {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 8%;
    right: 8%;
    margin: 0;
    padding: 0 0 10%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-card-container .click-to-change-JAW-indicator {
    position: absolute;
    left: 50%;
    bottom: 0.4vw;
    z-index: 1;
    transition: transform .4s,opacity .4s,-webkit-transform .4s,-moz-transform .4s,-o-transform .4s;
    transition-delay: .2s;
    opacity: 0;
    transform: translate(-50%,-10px);
}

.bob-jawbone-chevron {
    animation-delay: .2s;
    animation-duration: .4s;
    text-align: center;
}

.bob-jawbone-chevron svg {
    width: 3vw;
    height: 1vw;
}

svg:not(:root) {
    overflow: hidden;
}

svg:not(:root) {
    overflow: hidden;
}

.svg-icon {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.svg-icon {
    transform: scale(1);
    border: solid 1px transparent;
    margin: 0 -1px;
}


@media screen and (min-width: 1400px){
    .mainView .gallery, .mainView .rowListContainer {
    margin-top: 3.5%;
}
    .rail {
        font-size: .9375vw;
}
    .gallery .rowContainer {
    margin-bottom: 4vw;
}
    .rowContainer .rowContent .slider .row-with-x-columns .slider-item {
    width: 16.66666667%;
}
}
@media screen and (min-width: 1500px){
    .dvds, .people, .suggestions {
    margin: 10px 0 20px 60px;
}
    .suggestionHeader {
    margin: 0 60px;
}
    .slider {
    padding: 0 60px;
}
}

@media screen and (min-width: 1601px) and (max-width: 1920px) and (orientation: landscape){
    body, html {
    font-size: .75vw;
}
}
