.search-box {
    height: 40px; !important;
}

.mainView {
    position: relative;
    min-height: 1000px;
    z-index: 0;
}

.gallery.search {
    padding-top: 3%;
}

.search .gallery {
    margin-top: 0;
    padding-top: 0;
}

.mainView .gallery, .mainView .rowListContainer {
    padding-top: 5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.gallery {
    margin: 0;
    overflow: hidden;
    min-height: 1000px;
}

.search-title-header {
    min-height: 65px;
}

.rail {
    margin: 1em 0 0 0;
    display: inline-block;
    min-height: 10px;
    width: 100%;
    font-size: 1.25vw;
}

.dvds, .people, .suggestions {
    overflow: hidden;
    margin: 10px 0 20px 4%;
    display: flex;
}

.dvds, .people, .suggestions {
    line-height: 1.6;
}


element.style {
}
.suggestionRailContainer {
    display: flex;
}

.dvds .dvdLabel, .dvds .peopleLabel, .dvds .suggestionsLabel, .people .dvdLabel, .people .peopleLabel, .people .suggestionsLabel, .suggestions .dvdLabel, .suggestions .peopleLabel, .suggestions .suggestionsLabel {
    color: grey;
    -webkit-box-flex: 0;
    flex: 0 auto;
    margin-right: 5px;
    white-space: nowrap;
}

.dvds ul, .people ul, .suggestions ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.dvds ul li, .people ul li, .suggestions ul li {
    -webkit-box-flex: 0;
    flex: 0 auto;
    border-right: 1px solid grey;
    list-style: none;
    padding: 0 0.5em;
}

.dvds ul li.selected a, .people ul li.selected a, .suggestions ul li.selected a {
    color: grey;
}

.suggestionHeader {
    padding: 36px 0 36px 0;
    margin: 0 4%;
}

.suggestionHeader .title {
    display: inline-block;
    margin-right: 20px;
    line-height: 36px;
    font-size: 30px;
}

.gallery .galleryContent {
    position: relative;
    z-index: 0;
}

.gallery .rowContainer {
    margin: 0 0 48px 0;
    margin-bottom: 4vw;
}

.lolomoRow, .rowContainer {
    transition: transform .54s cubic-bezier(.5,0,.1,1) 0s,
    -webkit-transform .54s cubic-bezier(.5,0,.1,1) 0s,
    -moz-transform .54s cubic-bezier(.5,0,.1,1) 0s,
    -o-transform .54s cubic-bezier(.5,0,.1,1) 0s;
}

.rowContainer {
    position: relative;
    z-index: 0;
}

.rowContainer .rowContent {
    padding: 0;
    box-sizing: border-box;
}

.rowContainer .rowContent .slider {
    z-index: 2;
}

.slider {
    position: relative;
    margin: 0;
    padding: 0 4%;
    touch-action: pan-y;
}

.slider .sliderMask.showPeek {
    overflow-x: visible;
}

.slider .sliderMask {
    overflow-x: hidden;
    padding-bottom: 1px;
}

.slider .sliderMask .sliderContent {
    white-space: nowrap;
}

.slider .sliderMask .sliderContent .slider-item:first-child {
    padding-left: 0;
}

.slider .sliderMask .sliderContent .slider-item {
    box-sizing: border-box;
    z-index: 1;
    display: inline-block;
    position: relative;
    white-space: normal;
    vertical-align: top;
    padding: 0 0.2vw;
}

.title-card:not(.loadingTitle) {
    display: block;
}

.title-card {
    position: relative;
    z-index: 1;
}

.title-card .slider-refocus {
    display: block;
}

a{
    text-decoration: none;!important;
    cursor: pointer;!important;
    color: #fff;!important;
}

.boxart-size-16x9 {
    width: 100%;
    height: 0;
    position: relative;
    overflow: hidden;
    padding: 28.125% 0;
}

.boxart-rounded {
    border-radius: 0.2vw;
}

.title-card .boxart-container img {
    cursor: pointer;
}

.boxart-image-in-padded-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.boxart-rounded .fallback-text-container {
    border-radius: 4px;
}

.fallback-text-container {
    background-image: linear-gradient(rgba(0,0,0,0),#000);
    background-color: #222;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
}

.fallback-text {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 8%;
    right: 8%;
    margin: 0;
    padding: 0 0 10%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-card-container .click-to-change-JAW-indicator {
    position: absolute;
    left: 50%;
    bottom: 0.4vw;
    z-index: 1;
    transition: transform .4s,opacity .4s,-webkit-transform .4s,-moz-transform .4s,-o-transform .4s;
    transition-delay: .2s;
    opacity: 0;
    transform: translate(-50%,-10px);
}

.bob-jawbone-chevron {
    animation-delay: .2s;
    animation-duration: .4s;
    text-align: center;
}

.bob-jawbone-chevron svg {
    width: 3vw;
    height: 1vw;
}

svg:not(:root) {
    overflow: hidden;
}

svg:not(:root) {
    overflow: hidden;
}

.svg-icon {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.svg-icon {
    transform: scale(1);
    border: solid 1px transparent;
    margin: 0 -1px;
}


@media screen and (min-width: 1400px){
    .mainView .gallery, .mainView .rowListContainer {
    margin-top: 3.5%;
}
    .rail {
        font-size: .9375vw;
}
    .gallery .rowContainer {
    margin-bottom: 4vw;
}
    .rowContainer .rowContent .slider .row-with-x-columns .slider-item {
    width: 16.66666667%;
}
}
@media screen and (min-width: 1500px){
    .dvds, .people, .suggestions {
    margin: 10px 0 20px 60px;
}
    .suggestionHeader {
    margin: 0 60px;
}
    .slider {
    padding: 0 60px;
}
}

@media screen and (min-width: 1601px) and (max-width: 1920px) and (orientation: landscape){
    body, html {
    font-size: .75vw;
}
}


/*서치페이지 모달창*/

.previewModal--wrapper {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    will-change: scroll-position;
    box-sizing: border-box;
}

.previewModal--container.mini-modal {
    opacity: 0;
    top: -9999px;
    left: -9999px;
}

.previewModal--container {
    will-change: transform;
    position: absolute;
    color: #fff;
    background-color: transparent;
    font-size: 16px;
    z-index: 2;
    border-radius: 6px;
    overflow: hidden;
}

.previewModal--wrapper *, .previewModal--wrapper :after, .previewModal--wrapper :before {
    box-sizing: inherit;
}

.previewModal--player_container {
    position: relative;
    background-color: #000;
    cursor: pointer;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

.image-based-subtitles {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateZ(0);
}

.image-based-subtitles>svg {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

svg:not(:root) {
    overflow: hidden;
}

.previewModal--player_container .videoMerchPlayer--boxart-wrapper {
    height: 100%;
    width: 100%;
    padding-top: 56.3925%;
}

.previewModal--player_container .previewModal--boxart {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.previewModal--player_container.mini-modal .previewModal--player-titleTreatmentWrapper {

    background: linear-gradient(
45deg
,rgba(0,0,0,.6) 0,rgba(0,0,0,.4) 15%,transparent 40%);
}

.previewModal--player_container .previewModal--player-titleTreatmentWrapper {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.previewModal--player_container.mini-modal .previewModal--player-titleTreatmentWrapper .previewModal--player-titleTreatment-left {
    left: 1em;
}

.previewModal--player_container .previewModal--player-titleTreatmentWrapper .previewModal--player-titleTreatment-left {
    width: 40%;
    position: absolute;
    bottom: 5%;
    left: 3em;
}

.previewModal--player_container .previewModal-audioToggle {
    bottom: 5%;
    overflow: hidden;
    right: 1.25em;
}

.previewModal--player_container .previewModal-audioToggle, .previewModal--player_container .previewModal-viewMerchOptions {
    position: absolute;
    z-index: 1;
    border-radius: 50%;
}

.previewModal--wrapper.has-smaller-buttons button:not(.hasLabel):not(.dropdown-toggle) {
    min-width: 32px;
    min-height: 32px;
    max-width: 42px;
    max-height: 42px;
}

.previewModal--wrapper button.color-supplementary:not(.hasLabel) {
    border-width: 2px;
    background-color: rgba(42,42,42,.6);
    border-color: rgba(255,255,255,.5);
}

.ltr-1knzl35.round.color-supplementary {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.7);
    color: white;
}

.ltr-1knzl35.hasIcon {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.ltr-1knzl35 {
    -webkit-box-align: center;
    align-items: center;
    appearance: none;
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 1;
    padding: 0.8rem;
    position: relative;
    user-select: none;
    will-change: background-color, color;
    word-break: break-word;
    white-space: nowrap;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

.ltr-1ksxkn9 {
    line-height: 0;
}

.ltr-18dhnor.small {
    height: 1.8rem;
    width: 1.8rem;
}

.ltr-18dhnor {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.previewModal--wrapper.has-smaller-buttons button.color-supplementary:not(.hasLabel) svg {
    width: auto;
}

.previewModal--wrapper button.color-supplementary:not(.hasLabel) svg {
    width: 2rem;
}

.ltr-18dhnor svg {
    height: 100%;
    width: 100%;
}

svg:not(:root) {
    overflow: hidden;
}

.previewModal--container .previewModal-back, .previewModal--container .previewModal-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: none;
    cursor: pointer;
    margin: 1em;
}

.previewModal--container .previewModal-back svg, .previewModal--container .previewModal-close svg {
    width: 36px;
    height: 36px;
    background-color: #181818;
    border-radius: 50%;
    padding: 8px;
}

.previewModal--container .previewModal-back, .previewModal--container .previewModal-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: none;
    cursor: pointer;
    margin: 1em;
}

.previewModal--container .previewModal--info {
    background-color: #181818;
    position: relative;
}

.previewModal--info-container {
    padding: 1em;
    cursor: pointer;
}

.previewModal--metadatAndControls.mini-modal {
    grid-template-columns: 100%;
}

.previewModal--metadatAndControls {
    position: relative;
    width: 100%;
    background-color: #181818;
    display: grid;
}

.buttonControls--container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 1em;
    min-height: 2em;
}

.buttonControls--container :first-child {
    margin-left: 0;
}

.buttonControls--container>* {
    margin: 0.25em;
}

.previewModal--wrapper.has-smaller-buttons button:not(.hasLabel):not(.dropdown-toggle) {
    min-width: 32px;
    min-height: 32px;
    max-width: 42px;
    max-height: 42px;
}

.previewModal--wrapper button.color-primary:not(.hasLabel) {
    border-width: 2px;
    background-color: #fff;
}

.ltr-1knzl35.hasIcon {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.ltr-1knzl35.color-primary {
    background-color: white;
    color: black;
}

.ltr-18dhnor.small {
    height: 1.8rem;
    width: 1.8rem;
}

.ltr-79elbk {
    position: relative;
}

.buttonControls--expand-button {
    margin-left: auto;
}

.previewModal--metadatAndControls .previewModal--metadatAndControls-container .previewModal--metadatAndControls-info {
    margin: 0.8em 0;
}

.previewModal--metadatAndControls .previewModal--metadatAndControls-container>:not(.new-badge) {
    margin-bottom: 0.5em;
}

.videoMetadata--container {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}

.videoMetadata--container .videoMetadata--first-line {
    max-width: 100%;
    margin: 0.25em 0.5em 0.25em 0;
}

.match-score-wrapper {
    color: #fff;
}

.match-score-wrapper .rating-inner {
    transition: margin-right 550ms cubic-bezier(.86,0,.07,1) 1.65s;
    display: flex;
}

.match-score-wrapper .meta-thumb-container {
    display: inline-block;
    margin-bottom: -2px;
}

.match-score-wrapper .show-match-score .thumb-down svg, .match-score-wrapper .show-match-score .thumb-up svg {
    width: 0!important;
    height: 0!important;
    opacity: 0;
    transition: width 550ms cubic-bezier(.86,0,.07,1) 1.1s,opacity 150ms linear 950ms;
}

.match-score-wrapper .meta-thumb-container svg {
    width: 0.9em!important;
    height: 0.9em!important;
}

.svg-icon {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.svg-icon {
    width: 1em;
    height: 1em;
    transform: scale(1);
    overflow: visible;
    border: solid 1px transparent;
    margin: 0 -1px;
}

.videoMetadata--container .videoMetadata--second-line {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
}

.videoMetadata--container .videoMetadata--second-line>* {
    margin-right: 0.5em;
}

.maturity-rating {
    display: inline-block;
}

.maturity-rating span:last-child .svg-icon {
    margin: 0;
}

.maturity-rating .svg-icon {
    width: 2em;
    height: 2em;
    margin: 0 0.4em 0 0;
    vertical-align: middle;
}

.svg-icon {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.videoMetadata--container .videoMetadata--second-line .duration {
    white-space: nowrap;
}

.player-feature-badge {
    border: 1px solid rgba(255,255,255,.4);
    color: rgba(255,255,255,.9);
    padding: 0 0.5em;
    font-size: .7em;
    border-radius: 3px;
    white-space: nowrap;
}

.previewModal--metadatAndControls .previewModal--metadatAndControls-container .previewModal--metadatAndControls-tags-container {
    display: flex;
    flex-wrap: wrap;
}

.evidence-list {
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    margin: 0;
    padding: 0;
}

.evidence-list .evidence-item {
    display: flex;
    padding-right: 0.5vw;
}

.previewModal--metadatAndControls .previewModal--metadatAndControls-container .previewModal--metadatAndControls-tags-container .evidence-custom-text .evidence-text, .previewModal--metadatAndControls .previewModal--metadatAndControls-container .previewModal--metadatAndControls-tags-container .evidence-sims .evidence-text, .previewModal--metadatAndControls .previewModal--metadatAndControls-container .previewModal--metadatAndControls-tags-container .evidence-synopsis .evidence-text, .previewModal--metadatAndControls .previewModal--metadatAndControls-container .previewModal--metadatAndControls-tags-container .evidence-tags .evidence-list .evidence-item .evidence-text {
    font-size: inherit;
}

.extended-diacritics-language .evidence-text {
    line-height: 1.4;
}

.evidence-text {
    color: #fff;
    line-height: 1.3;
    position: relative;
    text-shadow: 0 1px 1px rgb(0 0 0 / 70%);
    font-size: .8vw;
}

.evidence-list .evidence-separator {
    display: inline-block;
}

.evidence-list .evidence-separator::before {
    color: #646464;
    content: "\2022";
    display: inline-block;
    padding-right: 0.5vw;
    font-size: 1vw;
}

.previewModal--wrapper *, .previewModal--wrapper :after, .previewModal--wrapper :before {
    box-sizing: inherit;
}

@media screen and (min-width: 800px) and (max-width: 1099px){
    .evidence-text {
    font-size: 1.28vw;
}
}
