{% extends 'base.html' %}
{% load static %}

{% block others %}
    <link rel="stylesheet" href="{% static 'css/sign_up/sign_up_check.css' %}?after">
    <script defer src="{% static 'js/sign_up/sign_up_check.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
    <div class="our-story-cards">
        <div class="our-story-card hero-card">
            <div class="our-story-card-background">
                <div class="concord-img-wrapper">
                    <img class="concord-img" src="{% static 'img/sign_up/netflix_card1.jpeg' %}" srcset="{% static 'img/sign_up/netflix_card1.jpeg' %} 1000w, {% static 'img/sign_up/netflix_card1.jpeg' %} 1500w, {% static 'img/sign_up/netflix_card1.jpeg' %} 1800w">
                    <div class="concord-img-gradient"></div>
                </div>
            </div>
            <div class="our-story-card-text">
                <h1 id class="our-story-card-title">영화와 시리즈를 무제한으로.</h1>
                <h2 id class="our-story-card-subtitle">다양한 디바이스에서 시청하세요. 언제든 해지하실 수 있습니다.</h2>
<!--                <form class="email-form" onsubmit="return is_email_change()" method="post" action="/kr/">-->
                <form class="email-form" onsubmit="return is_email_change()" method="post" action="{% url 'sign_up_check' %}">
                    {% csrf_token %}
                    <h3 class="email-form-title">시청할 준비가 되셨나요? 멤버십을 등록하거나 재시작하려면 이메일 주소를 입력하세요.</h3>
                    <div class="email-form-lockup">
                        <ul class="simple-form structural">
                            <li class="nf-form-space">
                                <div class="nf-input nf-input-responsive">
                                    <div class="nf-input-placement">
                                        <label class="input-id">
                                            <input class="nf-text-field" id="id-email" type="email" onchange="is_email_change()" name="email" maxlength="50" minlength="5">
                                            <label class="place-label" for="id-email">이메일 주소</label>
                                        </label>
                                        <div id class="input-error" hidden></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="our-story-cta-container">
                            <button class="nmhp-cta-extra-large nmhp-cta" type="submit">
                                <span id class="cta-btn-txt">시작하기</span>
                                <span id class="chevron-right-arrow">
                                    <svg viewBox="0 0 6 12" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M.61 1.312l.78-.624L5.64 6l-4.25 5.312-.78-.624L4.36 6z" fill="none" fill-rule="evenodd"></path>
                                    </svg>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="our-story-card animation-card watch-on-tv">
            <div class="animation-card-container">
                <div class="our-story-card-text">
                    <h1 id class="our-story-card-title">
                        TV로 즐기세요.
                    </h1>
                    <h2 id class="our-story-card-subtitle">
                        스마트 TV, PlayStation, Xbox,
                        Chromecast, Apple TV, 블루레이 플레이어 등 다양한 디바이스에서 시청하세요.
                    </h2>
                </div>
                <div class="our-story-card-img-container">
                    <div class="our-story-card-animation-container">
                        <img class="our-story-card-img" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png" />
                        <div class="our-story-card-animation">
                            <video class="our-story-card-video" autoplay playsinline muted loop>
                                <source src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-0819.m4v" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="our-story-card animation-card flipped download-and-watch ">
            <div class="animation-card-container">
                <div class="our-story-card-text">
                    <h1 id class="our-story-card-title">즐겨 보는 콘텐츠를 저장해 오프라인으로 시청하세요.</h1>
                    <h2 id class="our-story-card-subtitle">간편하게 저장하고 빈틈없이 즐겨보세요.</h2>
                </div>
                <div class="our-story-card-img-container">
                    <div class="our-story-card-animation-container">
                        <img class="our-story-card-img" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg">
                        <div class="our-story-card-animation">
                            <div class="our-story-card-animation-image">
                                <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/boxshot.png">
                            </div>
                            <div class="our-story-card-animation-text">
                                <div id class="text-0">기묘한 이야기</div>
                                <div id class="text-1">저장 중...</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="our-story-card animation-card watch-on-device">
            <div class="animation-card-container">
                <div class="our-story-card-text">
                    <h1 id class="our-story-card-title">다양한 디바이스에서 시청하세요.</h1>
                    <h2 id class="our-story-card-subtitle">각종 영화와
                    시리즈를 스마트폰, 태블릿, 노트북, TV에서 무제한으로 스트리밍하세요.
                    추가 요금이 전혀 없습니다.</h2>
                </div>
                <div class="our-story-card-img-container">
                    <div class="our-story-card-animation-container">
                        <img class="our-story-card-img" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile.png">
                        <div class="our-story-card-animation">
                            <video class="our-story-card-video" autoplay playsinline muted loop>
                                <source src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-devices.m4v" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="our-story-card animation-card kids-value-prop flipped">
            <div class="animation-card-container">
                <div class="our-story-card-text">
                    <h1 id class="our-story-card-title">어린이전용 프로필을 만들어 보세요.</h1>
                    <h2 id class="our-story-card-subtitle">자기만의 공간에서 좋아하는 캐릭터와 즐기는 신나는 모험.
                    자녀에게 이 특별한 경험을 선물하세요. 넷플릭스 회원이라면 무료입니다.</h2>
                </div>
                <div class="our-story-card-img-container">
                    <div class="our-story-card-animation-container">
                        <img class="our-story-card-img" src="https://occ-0-3996-2219.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABTyynLTvOBU46RmBnCIPyjAryrXCZKImpoXdp7Mz54jVGKnBQ1X84bzR-3vtD-RA4uu2b1FjrDgfxE6KElG14WAXW19X.png?r=acf">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}