{% extends 'base.html' %}
{% load static %}

{% block others %}
    <link rel="stylesheet" href="{% static 'css/sign_up/sign_up_registration.css' %}?after">
    <script defer src="{% static 'js/sign_up/sign_up_registration.js' %}"></script>

{% endblock %}
{% block content %}
<div class="simple-container">
    <div class="center-container context-step">
        <form method="post" action="{% url 'sign_up_registration' %}" onsubmit="return signUp()">
            {% csrf_token %}
            <div class="reg-form-container">
                <div class="step-header-container">
                    <div class="step-header">
                        <h1 class="step-title">
                            비밀번호를 설정해 멤버십을 시작하세요.
                        </h1>
                    </div>
                </div>
                <div>
                    <div class="context-row">
                        몇 단계만 더 거치면 넷플릭스 가입 완료!
                    </div>
                    <div class="context-row">
                        복잡한 단계는 모두 없앴습니다.
                    </div>
                    <ul class="simple-form structural ui-grid">
                        <li class="nf-form-space">
                            <div class="nf-input nf-input-oversize">
                                <div class="nf-input-placement">
                                    <label class="input-id">
                                        <input type="text" name="email" class="nf-text-field"
                                               id="id-email" autocomplete="off" maxlength="50" value="{{ email }}">
                                        <label for="id-email" class="place-label">이메일 주소</label>
                                    </label>
                                </div>
                                <div id class="id-email input-error" hidden></div>
                            </div>
                        </li>
                        <li class="nf-form-space">
                            <div class="nf-input nf-input-oversize">
                                <div class="nf-input-placement">
                                    <label class="input-id">
                                        <input type="password" name="password" class="nf-text-field"
                                               id="id-password" autocomplete="off" maxlength="60">
                                        <label for="id-password" class="place-label">비밀번호를 추가하세요</label>
                                    </label>
                                </div>
                                <div id class="id-password input-error" hidden></div>
                            </div>
                        </li>
                        <li class="nf-form-space">
                            <div class="nf-input nf-input-oversize">
                                <div class="nf-input-placement">
                                    <label class="input-id">
                                        <input type="text" name="username" class="nf-text-field"
                                               id="id-username" autocomplete="off" maxlength="10">
                                        <label for="id-username" class="place-label">이름을 입력하세요</label>
                                    </label>
                                </div>
                            </div>
                            <div id class="id-username input-error" hidden></div>
                        </li>
                        <li class="nf-form-space">
                            <div class="nf-input nf-input-oversize">
                                <div class="nf-input-placement">
                                    <label class="input-id">
                                        <input type="text" name="phone-number" class="nf-text-field"
                                               id="id-phone-number" autocomplete="off" maxlength="13" value="{{ phone_number }}">
                                        <label for="id-phone-number" class="place-label">핸드폰 번호를 입력해주세요</label>
                                    </label>
                                </div>
                            </div>
                            <div id class="id-phone-number input-error" hidden></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="submit-btn-container">
                <button type="submit" autocomplete="off" class="nf-btn nf-btn-primary nf-btn-solid nf-btn-oversize">
                    회원가입
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}